/* tags */
header {
    display: table;
    width: 100%;
    background-color: #90ee90;
}

.rammus-icon {
    width: 128px;
    height: 128px;
    vertical-align: middle;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto 0 auto;
}

header p{
    font-size: 30px;
    font-weight: bold;
    color: #A14271;
    padding: 20px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

nav {
    position: absolute;
    right: 0;
    top: 55px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color: #EDAC79;
    text-decoration: underline;
}

main {
    padding: 5%;
}

.rammeta {
    width: 100%;
}

.texto {
    margin: 5%;
    margin-top: 0;
}

main h2 {
    font-size: larger;
    font-weight: bold;
}

footer {
    background-color: #B5A8ED;
    text-align: center;
    padding: 20px 0 40px 0;
}

.rammus-foot {
    width: 10%;
}


