.about {
	background-color: #FEFEFE;
	padding-top: 1rem;
}

.about__title {
	font-size: 2.5rem;
	text-align: center;
}

.about__text {
	font-size: 1.2rem;
	padding: 1rem 0;
}

.about__text strong {
	font-weight: 700;
}

.about__text em {
	font-style: italic;
}

.about__citation {
	background-color: #cccccc;
	border-radius: 3rem;
	margin: 0 auto;
	margin-bottom: 1rem;
	max-width: 50%;
	padding: .5rem 0;
	text-align: center;
	width: 40%;
}

.about__citation___text {
	font-size: 1.5rem;
	font-weight: 300;
}

.about__citation___subtitle {
	font-size: .8rem;
	padding-top: .5rem;
}

@media screen and (min-width: 768px) {
	.about {
		padding-top: 2rem;
	}

	.about__title {
		font-size: 3rem;
	}

	.about__text {
		font-size: 1.4rem;
		padding: 2rem 10vw;
	}

	.about__citation {
		margin-bottom: 2rem;
	}

	.about__citation___text {
		font-size: 2rem;
	}
	
	.about__citation___subtitle {
		font-size: 1.2rem;
	}
}
