.beneficios {
	background: var(--white);
}

.beneficios__title {
	font-size: 2.5rem;
	text-align: center;
}

.beneficios__content {
	background-color: #bcbcbc;
	margin: 1rem 0;
	padding: 1rem 0;
}

.beneficios__list {
	padding-bottom: 1rem;
	text-align: center;
}

.beneficios__list____item {
	font-weight: 300;
	line-height: 1.5;
}


.beneficios__image {
	box-shadow: 5px 5px 8px rgba(20, 20, 20, 0.9);
	display: block;
	margin: 0 auto;
	width: 80%;
}

.beneficios__video {
	margin: 1rem auto;
	max-width: 768px;
}