.footer {
	background: var(--footer-bg-color);
	grid-area: footer;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

.footer__image {
	width: 5rem;
}

.footer__copyright {
	color: var(--white);
	font-size: .8rem;
	font-weight: 400;
	padding-top: 1rem;
}

@media screen and (min-width: 768px) {
	.footer {
		padding: 0.8rem 3rem;
	}

	.footer__image {
		width: 8rem;
	}

	.footer__copyright {
		font-size: 0.8rem;
	}
}