.form {
	padding-top: 2rem;
}

form label, form legend {
	display: block;
	font-size: larger;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 15px 0 15px;
	padding: 10px 25px;
	width: 50%;

}

.checkbox {
	margin: 20px 0;
}

.enviar {
	background: orange;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: medium;
	font-weight: bold;
	margin-bottom: 1.5rem;
	padding: 15px 0;
	transition: 0.5s all;
	width: 40%;
}

.enviar:hover {
	background-color: darkorange;
	transform: scale(1.2);
}