.products {
	display: grid;
	gap: 1rem;
	row-gap: 2rem;
	justify-items: center;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.products li {
	box-shadow: var(--black) 1px 1px 8px 1px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 1rem 1.5rem;
	text-align: center;
	transition: 0.5s all;
	width: 90%;
	height: 300px;
}

.products li:hover {
	transform: scale(1.1);
}

.products h2 {
	font-size: 1rem;
	font-weight: 600;
}

.product {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.produto-imagem {
	width: 160px;
	height: auto;
}

.desc {
	font-size: 18px;
	height: 40px;
	vertical-align: middle;
}

.preco {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}


@media screen and (max-width: 768px) {
	.products {
		margin: 0 5vw;
	}

}

@media screen and (min-width: 768px) {
	
	.products {
		grid-template-columns: 50% 50%;
	}
}

@media screen and (min-width: 1050px) {
	.products {
		grid-template-columns: 24% 24% 24% 24%;
	}
}
