.produtos {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.produtos img {
	width: 100%;
}

.produtos li {
	box-shadow: var(--black) 1px 1px 8px 1px;
	border-radius: 10px;
	box-sizing: border-box;
	margin: 1rem 0;
	padding: 1rem 1.5rem;
	text-align: center;
	transition: 0.5s all;
}

.produtos li:hover {
	transform: scale(1.1);
}

.produtos h2 {
	font-size: 25px;
	font-weight: 600;
}

.desc {
	font-size: 18px;
	height: 40px;
	vertical-align: middle;
}

.preco {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}