:root {
	--header-bg-color: #90ee90;
	--white: #fdfdfd;
	--footer-bg-color: #226E22;
	--black: #222222;
	
}

.container {
	padding: 0 1.5rem;
}

body {
	color: var(--black);
	font-family: 'Open Sans', sans-serif;
}

.title {
	font-family: 'Bebas Neue';
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0 3rem;
	}
}