html {
	/* min-width: 345px; */
	/* max-width: 1400px; */
}

:root {
	--header-bg-color: #90ee90;
	--white: #fdfdfd;
	--footer-bg-color: #226E22;
	--black: #222222;
	
}

.container {
	padding: 0 1.5rem;
}

body {
	font-family: 'Open Sans', sans-serif;
	grid-template-areas: 
	"header"
	"main"
	"footer";
	grid-template-rows: 50px auto auto;
}

.title {
	font-family: 'Bebas Neue';
}