:root {
	--header-bg-color: #90ee90;
	--white: #fdfdfd;
	--footer-bg-color: #226E22;
	--black: #222222;
	
}

.container {
	padding: 0 1.5rem;
}

body {
	display: grid;
	color: var(--black);
	font-family: 'Open Sans', sans-serif;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: auto auto auto;
}

main {
	grid-area: main;
	min-height: 65vh;
}

.title {
	font-family: 'Bebas Neue';
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0 3rem;
	}
}